---
import ResumeElement from '$components/resume/containers/ResumeElement.astro';
import ResumeIconLine from '$components/resume/containers/ResumeIconLine.astro';
import Location from 'svelte-ionicons/Location.svelte';
import Mail from 'svelte-ionicons/Mail.svelte';
import Globe from 'svelte-ionicons/Globe.svelte';
import LogoLinkedin from 'svelte-ionicons/LogoLinkedin.svelte';
import LogoGithub from 'svelte-ionicons/LogoGithub.svelte';
import Car from 'svelte-ionicons/Car.svelte';
import PhonePortrait from 'svelte-ionicons/PhonePortrait.svelte';
import { useTranslations } from '$i18n/utils';
import { resumeTranslations } from '$i18n/translations/resume';
import type { Language } from '$i18n/utils';

const language = Astro.currentLocale as Language;
const t = useTranslations(resumeTranslations, language);
---

<ResumeElement title={t('contact.title')} gap="small" mb>
    <ResumeIconLine icon={Location} href="https://www.google.com/maps/place/Grand+Est/">
        Grand Est, France
    </ResumeIconLine>
    <ResumeIconLine icon={Location} href="https://www.google.com/maps/place/Paris/">
        Paris, France
    </ResumeIconLine>
    <ResumeIconLine icon={Mail} href="mailto:julien.wff@gmail.com">
        julien.wff@gmail.com
    </ResumeIconLine>
    <div id="phone-container">
        <ResumeIconLine icon={PhonePortrait} href="tel:+33.X.XX.XX.XX.XX">
            +33.X.XX.XX.XX.XX
        </ResumeIconLine>
    </div>
    <ResumeIconLine icon={Globe} href="https://julien-wff.com">
        julien-wff.com
    </ResumeIconLine>
    <ResumeIconLine icon={LogoLinkedin} href="https://linkedin.com/in/julien-wff">
        linkedin.com/in/julien-wff
    </ResumeIconLine>
    <ResumeIconLine icon={LogoGithub} href="https://github.com/julien-wff">
        github.com/julien-wff
    </ResumeIconLine>
    <ResumeIconLine icon={Car}>
        {t('contact.drivers-license')}
    </ResumeIconLine>
</ResumeElement>


<style>
    #phone-container {
        display: none;
    }
</style>
