---
import ResumeHeader from '../components/resume/ResumeHeader.svelte';
import ResumeElement from '../components/resume/ResumeElement.svelte';
import ResumeElementSection from '../components/resume/ResumeElementSection.svelte';
import ResumeIconElement from '../components/resume/ResumeIconElement.svelte';
import ResumeCompetenceElement from '../components/resume/ResumeCompetenceElement.svelte';
import Layout from '../layouts/Layout.astro';
import School from 'svelte-ionicons/School.svelte';
import Location from 'svelte-ionicons/Location.svelte';
import Mail from 'svelte-ionicons/Mail.svelte';
import Globe from 'svelte-ionicons/Globe.svelte';
import LinkedIn from 'svelte-ionicons/LogoLinkedin.svelte';
import Github from 'svelte-ionicons/LogoGithub.svelte';
import BagHandle from 'svelte-ionicons/BagHandle.svelte';
import MaleFemale from 'svelte-ionicons/MaleFemale.svelte';
import People from 'svelte-ionicons/People.svelte';
import Language from 'svelte-ionicons/Language.svelte';
import Mic from 'svelte-ionicons/Mic.svelte';
import Help from 'svelte-ionicons/Help.svelte';
---

<Layout title="Julien Wolff - CV">
    <div class="resume">
        <ResumeHeader />
        <div class="content">
            <div>
                <ResumeElement title="Formation" mb>
                    <ResumeElementSection title="Lycée Charles Jully" subtitle="2018 - 2021, Saint Avold" icon={School}>
                        Baccalauréat général mention bien avec les spécialités mathématiques, physique chimie et informatique
                    </ResumeElementSection>
                    <ResumeElementSection title="CESI Ecole d'ingenieurs" subtitle="2021 - 2026, Nancy" icon={School}>
                        Baccalauréat général mention bien avec les spécialités mathématiques, physique chimie et informatique
                    </ResumeElementSection>
                </ResumeElement>

                <ResumeElement title="Expériences, projets et engagements" mb>
                    <ResumeElementSection title="Chargé informatique pour la vie lycéenne" subtitle="2020 - 2021, Lycée Charles Jully" icon={BagHandle}>
                        Réalisation d'un site web de présentation du lycéeet d'un site d'e-commerce pour vendre les produits fabriqués par le lycée
                    </ResumeElementSection>
                    <ResumeElementSection title="Label Les Elles du Numérique" subtitle="2021, CESI" icon={MaleFemale}>
                        Projet visant à sensibiliser sur le sujet de la mixité dans les métiers du numérique
                    </ResumeElementSection>
                    <ResumeElementSection title="Responsable informatique du BDE" subtitle="2021 - aujourd'hui, CESI" icon={People}>
                        Réalisation d'outils internes et du site <a href="https://bdecesinancy.fr">bdecesinancy.fr</a>
                    </ResumeElementSection>
                </ResumeElement>

                <ResumeElement title="Compétences" gap="small">
                    <ResumeCompetenceElement level={3}>
                        Frontend / Backend / Design web
                    </ResumeCompetenceElement>
                    <ResumeCompetenceElement level={3}>
                        Base de données (SQL / noSQL)
                    </ResumeCompetenceElement>
                    <ResumeCompetenceElement level={2}>
                        Réseau
                    </ResumeCompetenceElement>
                    <ResumeCompetenceElement level={2}>
                        Administration système
                    </ResumeCompetenceElement>
                    <ResumeCompetenceElement level={2}>
                        Embarqué / applications en C / C++
                    </ResumeCompetenceElement>
                </ResumeElement>
            </div>

            <div>
                <ResumeElement title="Contact" gap="small" mb>
                    <ResumeIconElement icon={Location}>Nancy, France</ResumeIconElement>
                    <ResumeIconElement icon={Location} letterspacing="-0.012rem">Boulay Moselle, France</ResumeIconElement>
                    <ResumeIconElement icon={Mail} href="mailto:julien.wolff1@viacesi.fr">
                        julien.wolff1@viacesi.fr
                    </ResumeIconElement>
                    <ResumeIconElement icon={Globe} href="https://julien-wff.com">
                        julien-wff.com
                    </ResumeIconElement>
                    <ResumeIconElement icon={LinkedIn} href="https://linkedin.com/in/julien-wff" letterspacing="-0.065rem">
                        linkedin.com/in/julien-wff
                    </ResumeIconElement>
                    <ResumeIconElement icon={Github} href="https://github.com/julien-wff">
                        github.com/julien-wff
                    </ResumeIconElement>
                </ResumeElement>

                <ResumeElement title="Langues" gap="small" mb>
                    <ResumeIconElement icon={Language}>
                        <div class="lang-element">
                            <span>Français</span>
                            <span class="small">Langue maternelle</span>
                        </div>
                    </ResumeIconElement>
                    <ResumeIconElement icon={Language}>
                        <div class="lang-element">
                            <span>Anglais</span>
                            <span class="small">Niveau B2 / C1, 870 TOEIC</span>
                        </div>
                    </ResumeIconElement>
                </ResumeElement>

                <ResumeElement title="Soft Skills" gap="small">
                    <ResumeIconElement icon={People}>
                        Travail d'équipe
                    </ResumeIconElement>
                    <ResumeIconElement icon={Mic}>
                        Aisance orale
                    </ResumeIconElement>
                    <ResumeIconElement icon={Help}>
                        Curiosité
                    </ResumeIconElement>
                </ResumeElement>
            </div>
        </div>
    </div>
</Layout>

<style>
    .resume {
        width: 100%;
        max-width: 50rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: var(--spacing);
    }

    .content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: var(--spacing);
    }

    .lang-element {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>
