---
import ResumeHeader from '../components/resume/ResumeHeader.svelte';
import ResumeElement from '../components/resume/ResumeElement.svelte';
import ResumeElementSection from '../components/resume/ResumeElementSection.svelte';
import ResumeIconElement from '../components/resume/ResumeIconElement.svelte';
import Layout from '../layouts/Layout.astro';
import School from 'svelte-ionicons/School.svelte';
import Location from 'svelte-ionicons/Location.svelte';
import Mail from 'svelte-ionicons/Mail.svelte';
import Globe from 'svelte-ionicons/Globe.svelte';
import LinkedIn from 'svelte-ionicons/LogoLinkedin.svelte';
import Github from 'svelte-ionicons/LogoGithub.svelte';
---

<Layout title="Julien Wolff - CV">
    <div class="resume">
        <ResumeHeader />
        <div class="content">
            <div>
                <ResumeElement title="Formation">
                    <ResumeElementSection title="Lycée Charles Jully" subtitle="2018 - 2021, Saint Avold" icon={School}>
                        Baccalauréat général mention bien avec les spécialités mathématiques, physique chimie et informatique
                    </ResumeElementSection>
                    <ResumeElementSection title="CESI Ecole d'ingenieurs" subtitle="2021 - 2026, Nancy" icon={School}>
                        Baccalauréat général mention bien avec les spécialités mathématiques, physique chimie et informatique
                    </ResumeElementSection>
                </ResumeElement>
            </div>

            <div>
                <ResumeElement title="Contact" gap="small">
                    <ResumeIconElement icon={Location}>Nancy, France</ResumeIconElement>
                    <ResumeIconElement icon={Location} letterspacing="-0.012rem">Boulay Moselle, France</ResumeIconElement>
                    <ResumeIconElement icon={Mail} href="mailto:julien.wolff1@viacesi.fr">
                        julien.wolff1@viacesi.fr
                    </ResumeIconElement>
                    <ResumeIconElement icon={Globe} href="https://julien-wff.com">
                        julien-wff.com
                    </ResumeIconElement>
                    <ResumeIconElement icon={LinkedIn} href="https://linkedin.com/in/julien-wff" letterspacing="-0.065rem">
                        linkedin.com/in/julien-wff
                    </ResumeIconElement>
                    <ResumeIconElement icon={Github} href="https://github.com/julien-wff">
                        github.com/julien-wff
                    </ResumeIconElement>
                </ResumeElement>
            </div>
        </div>
    </div>
</Layout>

<style>
    .resume {
        width: 100%;
        max-width: 50rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: var(--spacing);
    }

    .content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: var(--spacing);
    }
</style>
