---
import ResumeHeader from '../components/resume/ResumeHeader.astro';
import ResumeElement from '../components/resume/ResumeElement.svelte';
import ResumeElementSection from '../components/resume/ResumeElementSection.svelte';
import ResumeIconElement from '../components/resume/ResumeIconElement.svelte';
import ResumeCompetenceElement from '../components/resume/ResumeCompetenceElement.svelte';
import School from 'svelte-ionicons/School.svelte';
import Location from 'svelte-ionicons/Location.svelte';
import Mail from 'svelte-ionicons/Mail.svelte';
import Globe from 'svelte-ionicons/Globe.svelte';
import LinkedIn from 'svelte-ionicons/LogoLinkedin.svelte';
import Github from 'svelte-ionicons/LogoGithub.svelte';
import Business from 'svelte-ionicons/Business.svelte';
import MaleFemale from 'svelte-ionicons/MaleFemale.svelte';
import People from 'svelte-ionicons/People.svelte';
import Language from 'svelte-ionicons/Language.svelte';
import Mic from 'svelte-ionicons/Mic.svelte';
import Help from 'svelte-ionicons/Help.svelte';
import Barbell from 'svelte-ionicons/Barbell.svelte';
import Code from 'svelte-ionicons/Code.svelte';
import Body from 'svelte-ionicons/Body.svelte';
import Server from 'svelte-ionicons/Server.svelte';
import LogoDiscord from 'svelte-ionicons/LogoDiscord.svelte';
import Car from 'svelte-ionicons/Car.svelte';
import Barcode from 'svelte-ionicons/Barcode.svelte';
import Cloud from 'svelte-ionicons/Cloud.svelte';
import ResumeLayout from '../layouts/Resume.astro';
---

<ResumeLayout title="Julien Wolff - CV">
    <div class="resume">
        <ResumeHeader />
        <div class="content">
            <div>
                <ResumeElement title="Formation" mb>
                    <ResumeElementSection title="CESI École d'Ingénieurs" subtitle="2021 - 2026, Nancy" icon={School}>
                        Actuellement en première année de cycle ingénieur informatique
                    </ResumeElementSection>
                    <ResumeElementSection title="Lycée Charles Jully" subtitle="2018 - 2021, Saint-Avold" icon={School}>
                        Baccalauréat général mention bien avec les spécialités mathématiques, physique-chimie et informatique
                    </ResumeElementSection>
                </ResumeElement>

                <ResumeElement title="Expériences, projets et engagements" mb>
                    <ResumeElementSection title="Développeur / Data Scientist" subtitle="Avril - juillet 2023, CMA Grand Est, Metz" icon={Business}>
                        Travail sur un ESB / ETL, visualisation et traitement de données, scripts de migrations de bases de données
                    </ResumeElementSection>
                    <ResumeElementSection title="Projet personnel : serveur cloud" subtitle="Mai 2022 - aujourd'hui" icon={Server}>
                        Infrastructure Docker complète dans le cloud, avec de nombreux services auto-hébergés, le tout monitoré
                    </ResumeElementSection>
                    <ResumeElementSection title="Responsable informatique du BDE" subtitle="2021 - aujourd'hui, CESI" icon={People}>
                        Réalisation d'outils internes et du site <a href="https://bdecesinancy.fr">bdecesinancy.fr</a>
                    </ResumeElementSection>
                    <ResumeElementSection title="Label Les Elles du Numérique" subtitle="2021, CESI" icon={MaleFemale}>
                        Projet CESI, en partenariat avec Orange, visant à sensibiliser sur le sujet de la mixité dans les métiers du numérique
                    </ResumeElementSection>
                    <ResumeElementSection title="Projet personnel : bot Discord" subtitle="Février 2020 - avril 2021" icon={LogoDiscord}>
                        Infrastructure de bot Discord complète et modulaire
                    </ResumeElementSection>
                </ResumeElement>

                <ResumeElement title="Compétences clés" gap="small">
                    <ResumeCompetenceElement>
                        Web : NodeJS, React, Svelte, PWA, Firebase, Figma
                    </ResumeCompetenceElement>
                    <ResumeCompetenceElement>
                        Base de données : MySQL, SQL Server, MongoDB
                    </ResumeCompetenceElement>
                    <ResumeCompetenceElement>
                        Data : Blueway, Metabase, Power BI, Python
                    </ResumeCompetenceElement>
                    <ResumeCompetenceElement>
                        Admin. système : cloud, Linux, Docker, virtualisation
                    </ResumeCompetenceElement>
                    <ResumeCompetenceElement>
                        Réseau : matériel Cisco, CCNA1, pfSense
                    </ResumeCompetenceElement>
                    <ResumeCompetenceElement>
                        Développement : Arduino, C, C++, C#
                    </ResumeCompetenceElement>
                </ResumeElement>
            </div>

            <div class="resume-small-elements">
                <div>
                    <ResumeElement title="Contact" gap="small" mb>
                        <ResumeIconElement icon={Location} href="https://www.google.com/maps/place/Nancy/">
                            Nancy, France
                        </ResumeIconElement>
                        <ResumeIconElement icon={Location} letterspacing="-0.012rem" href="https://www.google.com/maps/place/57220+Boulay-Moselle/">
                            Boulay Moselle, France
                        </ResumeIconElement>
                        <ResumeIconElement icon={Mail} href="mailto:julien.wff@gmail.com">
                            julien.wff@gmail.com
                        </ResumeIconElement>
                        <ResumeIconElement icon={Globe} href="https://julien-wff.com">
                            julien-wff.com
                        </ResumeIconElement>
                        <ResumeIconElement icon={LinkedIn} href="https://linkedin.com/in/julien-wff" letterspacing="-0.065rem">
                            linkedin.com/in/julien-wff
                        </ResumeIconElement>
                        <ResumeIconElement icon={Github} href="https://github.com/julien-wff">
                            github.com/julien-wff
                        </ResumeIconElement>
                        <ResumeIconElement icon={Car}>
                            Permis B
                        </ResumeIconElement>
                    </ResumeElement>

                    <ResumeElement title="Langues" gap="small" mb>
                        <ResumeIconElement icon={Language}>
                            <div class="lang-element">
                                <span>Français</span>
                                <span class="small">Langue maternelle</span>
                            </div>
                        </ResumeIconElement>
                        <ResumeIconElement icon={Language}>
                            <div class="lang-element">
                                <span>Anglais</span>
                                <span class="small">Niveau C1, 945 au TOEIC</span>
                            </div>
                        </ResumeIconElement>
                        <ResumeIconElement icon={Language}>
                            <div class="lang-element">
                                <span>Allemand</span>
                                <span class="small">Notions</span>
                            </div>
                        </ResumeIconElement>
                    </ResumeElement>
                </div>

                <div>
                    <ResumeElement title="Soft Skills" gap="small" mb>
                        <ResumeIconElement icon={People}>
                            Travail d'équipe
                        </ResumeIconElement>
                        <ResumeIconElement icon={Mic}>
                            Aisance orale
                        </ResumeIconElement>
                        <ResumeIconElement icon={Help}>
                            Curiosité
                        </ResumeIconElement>
                        <ResumeIconElement icon={Barcode}>
                            Rigueur
                        </ResumeIconElement>
                        <ResumeIconElement icon={Cloud}>
                            Autonomie
                        </ResumeIconElement>
                    </ResumeElement>

                    <ResumeElement title="Passions" gap="small">
                        <ResumeIconElement icon={Barbell}>
                            Sport
                        </ResumeIconElement>
                        <ResumeIconElement icon={Code}>
                            Informatique
                        </ResumeIconElement>
                        <ResumeIconElement icon={Body}>
                            Théâtre (4 ans)
                        </ResumeIconElement>
                    </ResumeElement>
                </div>
            </div>
        </div>
    </div>
</ResumeLayout>

<style>
    .resume {
        width: 100%;
        max-width: 50rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: var(--spacing);
    }

    .content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: var(--spacing);
    }

    .lang-element {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    @media all and (max-width: 53rem) {
        .content {
            grid-template-columns: 1fr;
        }

        .resume-small-elements {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: var(--spacing);
        }
    }

    @media all and (max-width: 35rem) {
        .resume-small-elements {
            grid-template-columns: 1fr;
        }
    }
</style>
