---
import { useTranslations } from '$i18n/utils';
import { indexTranslations } from '$i18n/translations';
import ProjectCard from './projects/ProjectCard.astro';
import backryPreview from '$assets/projects/backry-preview.png';
import bdeCesiNancyPreview from '$assets/projects/bdecesinancy-preview.png';
import dossierSynthesePreview from '$assets/projects/dossier-synthese-preview.png';
import easySavePreview from '$assets/projects/easysave-preview.png';
import healthAiPreview from '$assets/projects/health-ai-preview.png';
import homelabPreview from '$assets/projects/homelab-preview.png';
import bun from '$assets/icons/bun.svg';
import cloudflare from '$assets/icons/cloudflare.svg';
import csharp from '$assets/icons/csharp.svg';
import docker from '$assets/icons/docker.svg';
import dotnet from '$assets/icons/dotnet.svg';
import expo from '$assets/icons/expo.svg';
import figma from '$assets/icons/figma.svg';
import githubActions from '$assets/icons/githubactions.svg';
import googleCloud from '$assets/icons/google-cloud.svg';
import golang from '$assets/icons/golang.svg';
import nixos from '$assets/icons/nixos.svg';
import nodejs from '$assets/icons/nodejs.svg';
import react from '$assets/icons/react.svg';
import sqlite from '$assets/icons/sqlite.svg';
import svelte from '$assets/icons/svelte.svg';
import typescript from '$assets/icons/typescript.svg';

const language = Astro.currentLocale;
const t = useTranslations(indexTranslations, language as keyof typeof indexTranslations);
---

<section>
    <h2 id="projects">{t('projects.title')}</h2>

    <div class="projects-container">
        <div class="projects">
            <ProjectCard title={t('projects.bdecesinancy.title')}
                         description={t('projects.bdecesinancy.description')}
                         preview={bdeCesiNancyPreview}
                         url="https://bdecesinancy.fr"
                         github="https://github.com/julien-wff/bde-cesi-nancy"
                         tech={[
                             [ cloudflare, 'Cloudflare' ],
                             [ docker, 'Docker' ],
                             [ figma, 'Figma' ],
                             [ nodejs, 'Node.js' ],
                             [ svelte, 'Svelte' ],
                             [ typescript, 'TypeScript' ],
                         ]}/>
            <ProjectCard title={t('projects.homelab.title')}
                         description={t('projects.homelab.description')}
                         preview={homelabPreview}
                         tech={[
                             [ cloudflare, 'Cloudflare' ],
                             [ docker, 'Docker' ],
                             [ nixos, 'NixOS' ],
                         ]}/>
            <ProjectCard title={t('projects.backry.title')}
                         description={t('projects.backry.description')}
                         preview={backryPreview}
                         github="https://github.com/julien-wff/backry"
                         tech={[
                             [ bun, 'Bun' ],
                             [ docker, 'Docker' ],
                             [ githubActions, 'GitHub Actions' ],
                             [ sqlite, 'SQLite' ],
                             [ svelte, 'Svelte' ],
                             [ typescript, 'TypeScript' ],
                         ]}/>
            <ProjectCard title={t('projects.health-ai.title')}
                         description={t('projects.health-ai.description')}
                         preview={healthAiPreview}
                         github="https://github.com/julien-wff/health-ai"
                         tech={[
                             [ expo, 'Expo' ],
                             [ googleCloud, 'Google Cloud' ],
                             [ react, 'React Native' ],
                             [ typescript, 'TypeScript' ],
                         ]}/>
            <ProjectCard title={t('projects.cesi-dossier-synthese.title')}
                         description={t('projects.cesi-dossier-synthese.description')}
                         preview={dossierSynthesePreview}
                         url="https://dossier.bdecesinancy.fr"
                         github="https://github.com/julien-wff/cesi-dossier-synthese"
                         tech={[
                             [ docker, 'Docker' ],
                             [ golang, 'Golang' ],
                             [ svelte, 'Svelte' ],
                             [ typescript, 'TypeScript' ],
                         ]}/>
            <ProjectCard title={t('projects.easysave.title')}
                         description={t('projects.easysave.description')}
                         preview={easySavePreview}
                         github="https://github.com/julien-wff/easysave"
                         tech={[
                             [ csharp, 'C#' ],
                             [ dotnet, '.NET' ],
                             [ githubActions, 'GitHub Actions' ],
                         ]}/>
        </div>
    </div>
</section>


<style>
    section {
        width: 100%;
        min-height: 100svh;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }

    h2 {
        font-size: 2rem;
        margin: 0;
        scroll-margin-top: 8rem;
    }

    .projects-container {
        display: grid;
        place-content: center;
        padding: 2rem;
    }

    .projects {
        display: grid;
        grid-template-columns: repeat(2, minmax(24rem, 32rem));
        grid-gap: 2rem;
    }

    @media (max-width: 56rem) {
        .projects-container {
            padding: 1rem;

        }

        .projects {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 1rem;
        }
    }

    @media screen and (max-width: 48rem) {
        h2 {
            scroll-margin-top: 6rem;
        }
    }
</style>
