---
import { projectsForLanguage, useTranslations } from '$i18n/utils';
import { indexTranslations } from '$i18n/translations';
import ProjectCard from './projects/ProjectCard.astro';
import { techIcons } from '$assets/icons';

const language = Astro.currentLocale as keyof typeof indexTranslations;
const t = useTranslations(indexTranslations, language);

const projects = await projectsForLanguage(language);
const flagshipProjects = projects
    .filter(p => p.data.visibility === 'flagship' && [ 'personal', 'school' ].includes(p.data.type))
    .toSorted((a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf());
---

<section>
    <h2 id="projects">{t('projects.title')}</h2>

    <div class="projects-container">
        <div class="projects">
            {flagshipProjects.map((project) => (
                    <ProjectCard title={project.data.title}
                                 description={project.data.description}
                                 preview={project.data.image}
                                 github={project.data.github}
                                 url={project.data.url}
                                 tech={project.data.tech.map((tech) => techIcons[tech])}/>
            ))}
        </div>
    </div>
</section>


<style>
    section {
        width: 100%;
        min-height: 100svh;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }

    h2 {
        font-size: 2rem;
        margin: 0;
        scroll-margin-top: 8rem;
    }

    .projects-container {
        display: grid;
        place-content: center;
        padding: 2rem;
    }

    .projects {
        display: grid;
        grid-template-columns: repeat(2, minmax(24rem, 32rem));
        grid-gap: 2rem;
    }

    @media (max-width: 56rem) {
        .projects-container {
            padding: 1rem;

        }

        .projects {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 1rem;
        }
    }

    @media screen and (max-width: 48rem) {
        h2 {
            scroll-margin-top: 6rem;
        }
    }
</style>
