---
import '$assets/style/main.css';
import albert400 from '@fontsource/albert-sans/files/albert-sans-latin-400-normal.woff2';
import albert700 from '@fontsource/albert-sans/files/albert-sans-latin-700-normal.woff2';

interface Props {
    title: string;
    description?: string | null;
}

const { title, description } = Astro.props;
const defaultDescription = 'Site personnel de Julien WOLFF';
---

<!doctype html>
<html lang={Astro.currentLocale}>
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content={description || defaultDescription}/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <link rel="preload" href={albert400} as="font" type="font/woff2"/>
    <link rel="preload" href={albert700} as="font" type="font/woff2"/>
    <title>{title}</title>
</head>
<body>
<main>
    <slot/>
</main>

<style is:global>
    section {
        z-index: 2;
    }

    section * {
        z-index: inherit;
    }
</style>
</body>
</html>
